body {
  text-align: center;
  font-family: Arial;
  background: lightblue;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 10px;
}
